/* GERAL */
body {
    font-family: 'Nunito Sans', Arial, sans-serif;
    background: linear-gradient(to bottom, #392361, #6a1b9a); 
    margin: 0;
    padding: 0;
    color: #fff;
    background-attachment: fixed; /* Garante que o fundo cubra toda a página */
}

textarea:focus,
input:focus,
select:focus,
button:focus {
    outline: none;
    box-shadow: none;
}

.container {
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
    height: 100vh;
}

header,
main,
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header,
footer {
    height: 100px;
    padding: 30px 0;
}

main {
    margin: 20px 0 140px;
}

/* cabeçalho principal branco */
.header h1 {
    font-size: 30px; /* Tamanho da fonte aumentado */
    color: #392361; /* Cor do texto mais clara */
    margin: 0;
    font-weight: 500; /* Peso da fonte ajustado */
}

.site-header {
    background: white; /* Fundo translúcido rgba(255, 255, 255, 0.9)*/
    height: 70px;
    padding: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    max-width: 60px;
    height: auto;
}

/* Navegação */
.nav-links {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    display: inline;
    margin-left: 30px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: 700;
    transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
    color: #4c2d84;
    transform: scale(1.1);
}

/* Estilo específico para o botão de LOGIN */
.login-button {
    background-color: rgb(219, 219, 213);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.login-button:hover {
    background-color: #fff34d;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

/* ESCONDER ELEMENTOS */
.hide {
    display: none;
}

#quizz-container,
#score-container {
    color: #222;
    text-align: center;
    padding: 25px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    background-color: #fff; /* Cor de fundo do container */
    margin: 20px auto; /* Espaçamento automático para centralizar */
    border-radius: 15px; /* Borda arredondada */
}


/* cabeçalho amarelo*/
/* HEADER */
@keyframes pulse {
    0% { transform: scale(1); }
    50% { transform: scale(1.02); }
    100% { transform: scale(1); }
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff; /* Cor do cabeçalho mais tecnológica */
    padding: 5px 20px; /* Maior espaço interno */
    border-radius: 12px 12px 0 0; /* Bordas arredondadas no topo */
    box-shadow: 0px 6px 9px rgba(0, 0, 0, 0.3);
    animation: pulse 4s infinite; /* Adiciona o efeito de pulsar */
}

.header img {
    max-width: 160px; /* Tamanho máximo ajustado */
    height: auto;
    animation: pulse 3s infinite; /* Adiciona o efeito de pulsar com duração diferente */
}

/* Progress Container */
#progress-container {
    width: 100%;
    max-width: 200px; /* Ajusta o comprimento do contêiner para um tamanho menor */
    margin: 5px 20px; /* Ajusta a margem para manter o espaçamento */
    text-align: right; /* Alinha o conteúdo à direita */
    float: right ; /* Alinha o contêiner à direita do layout */
}

#progress-bar {
    height: 5px;
    background-color: #4c2d84;
    width: 50%; /* Ajuste o comprimento da barra de progresso para ser menor */
    transition: width 0.1s;
    border-radius: 5px;
    margin-bottom: 5px;
}

#progress-text {
    font-size: 15px;
    color: black;
    
}

/* SCORE CONTAINER TEXT */
#score-container p {
    margin: 20px 0;
}

#score-container #display-score {
    font-size: 20px; /* Tamanho da fonte ajustado */
    font-weight: bold;
    color: #2c3e50; /* Cor do texto */
}

/* RESTART BUTTON */
#restart {
    background-color: #333; /* Cor de fundo do botão */
    color: #fff;
    font-weight: bold;
    height: 50px;
    border: none; /* Removido borda para um visual mais limpo */
    width: 200px; /* Largura do botão ajustada */
    text-transform: uppercase;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Adicionado efeito de transformação */
}

#restart:hover {
    background-color: #555; /* Cor do fundo no hover */
    transform: scale(1.05); /* Efeito de escala no hover */
}

/* Quizz container */
#question {
    text-align: left;
    margin-bottom: 25px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

#answers-box {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
}

#answers-box button {
    display: flex;
    align-items: center;
    margin: 15px 0;
    width: 100%;
    border: none;
    text-align: left;
    color: #222;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

#answers-box button:hover {
    background-color: #4c2d84;
    color: #fff;
    transform: scale(1.02);
}

#answers-box .btn-letter {
    font-size: 20px;
    font-weight: bold;
    background-color: #2a272a;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 60px;
    padding: 10px;
    border-radius: 10px;
}

.question-answer {
    flex: 1;
    padding: 10px;
    margin-left: 15px;
    font-size: 15px;
}

/* RESPONSIVO */
@media (max-width: 450px) {
    #quizz-container,
    #score-container {
        border: none;
        width: 100%;
        box-shadow: none;
    }

    #answers-box {
        max-width: 100%;
    }

    #answers-box button {
        font-size: 16px;
    }

    #answers-box .btn-letter {
        font-size: 20px;
    }

    #score-container #display-score {
        font-size: 28px;
    }
}

.draggable-item, .movable-item {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    cursor: move;
    transition: background-color 0.3s;
}

.draggable-item:hover, .movable-item:hover {
    background-color: #e0e0e0;
}

.drop-zone {
    padding: 20px;
    border: 2px dashed #ccc;
    margin-top: 20px;
    text-align: center;
}

/* Certifique-se de que o rodapé fica fixo na parte inferior */
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.footer-content {
    margin-top: auto; /* Empurra o rodapé para baixo */
}

/* Estilo para o rodapé */
.site-footer {
    background-color:#e77ab2; /* Cor de fundo do rodapé */
    color: #fff;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 14px;
}
